# Ignore all frontend source code from stats
ProBook/UI/probook-ui/src/* linguist-detectable=false

# Optionally, include specific TypeScript files outside src (for example main.ts, config.ts, etc.)
*.ts linguist-detectable=true
*.tsx linguist-detectable=true

# Prioritize backend C# files
*.cs linguist-detectable=true
