<header class="header">
    <div class="left">
        <div class="datetime-container">
            <div class="time">{{ currentDateTime | date:'HH:mm:ss' }}</div>
            <div class="date">{{ currentDateTime | date:'EEEE, MMMM d, y' }}</div>
        </div>
    </div>
    <div class="header-container">
        <div class="brand">
            <mat-icon class="logo-icon">auto_stories</mat-icon>
            <h1>ProBook</h1>
        </div>
    </div>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="navigateToProfile()">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-menu-item (click)="navigateToSettings()">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()" class="logout-button">
            <mat-icon class="logout-icon">exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

    <div class="right">
        <span>Welcome, {{ loggedInUser?.username }}</span>
        <div class="user-profile" [matMenuTriggerFor]="userMenu">
            <div class="avatar">{{ loggedInUser?.username?.charAt(0)?.toUpperCase() }}</div>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </div>
</header>

<nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="center">
    <a mat-tab-link routerLink="/app/notebooks" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
        <mat-icon>book</mat-icon> Notebooks
    </a>
    <a mat-tab-link routerLink="/app/collections" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
        <mat-icon>collections_bookmark</mat-icon> Collections
    </a>
    <a mat-tab-link routerLink="/app/sharedNotebooks" routerLinkActive #rla3="routerLinkActive"
        [active]="rla3.isActive">
        <mat-icon>folder_shared</mat-icon> Shared Notebooks
    </a>
</nav>
<mat-tab-nav-panel #tabPanel>
    <router-outlet ></router-outlet>
</mat-tab-nav-panel>