<mat-card>
    <mat-card-header>
        <mat-card-title class="text-center">Sign In</mat-card-title>
        <mat-card-subtitle class="subtitle-center">Welcome back to Probook</mat-card-subtitle>
        <div class="image-container">
            <img src="assets/images.png" alt="Probook" class="image-center" />
        </div>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text" required>
                <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                    Please enter a valid username.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="password-field" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="isObscured ? 'password' : 'text'" required>
                <mat-icon matSuffix class="visibility-icon" (click)="toggleVisibility()">
                    {{ isObscured ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    Password is required.
                </mat-error>
            </mat-form-field>

            <button mat-raised-button class="button" color="primary" type="submit"
                [disabled]="loginForm.invalid">Login</button>
        </form>
    </mat-card-content>
</mat-card>